<div class="chores" >
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p style="color:green" *ngIf = 'chores.length > finishedChores.length'>Work Harder!</p>
    
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>

    <div class="trophy" *ngIf = '(chores.length === 0) || (finishedChores.length >= (3 + chores.length)); else noAllowanceYet'>
    <img src="{{trophyImage}}" alt="Trophy Image" >
    </div>

    <ng-template #noAllowanceYet>
        <div class="trophy">
        <p>No allowance Yet</p>
    </div>
    </ng-template>

    <div class="iceCreamTreat" *ngIf = '(chores.length === 0) && (finishedChores.length >= 4);else howToEarnIceCream'>
        <p style=color:green>Ice cream treat!</p>
    </div>

    <ng-template #howToEarnIceCream>
        <div style=color:green class="iceCreamTreat">
            <h3>To earn an ice cream treat</h3>
            <p>The chores list must be empty</p>
            <p>The Done list must have at least 4 items.</p>
        </div>
    </ng-template>

</div>
<hr>